
.App {
  display: flex;
  height: 800px;
  width: 1100px;
  padding: 15px;
  background-color: #ffe5ecff;
}

.sidebar{
  width: 25%;
  margin: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffb3c6ff;
}

.next-to-sidebar-container{
  width: 75%;
  margin: 15px;
}

.next-to-sidebar-container h3{
  margin: 0px;
}

.component-container{
  height: 40%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.reviews, .average-rating, .sentiment-analysis{
  width: 225px;
  padding: 15px;
  background-color: #ffb3c6ff;
}

.sentiment-analysis h1{
  margin: 10px;
}

.average-rating{
  margin: 0px 30px;
}

.sentiment-analysis-container{
  height: 286px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.website-visitors{
  display: flex;
  flex-direction: column;
  height: 432px;
  margin-top: 30px;
  background-color: #ffb3c6ff;
}

.website-visitors-container{
  padding: 15px;
}

.graph{
  height: 60%;
  margin: 30px;
  background-color: #fb6f92ff;
}




